* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
  background-color: white;
  }
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 900px;
    min-height: 400px;
    background-color:	#404040;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  
  h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    margin-bottom: 32px;
  }
  
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 10px;
    outline: none;
    width: 320px;
    background-color: white;
    color: black;
    border-color: #FF8C00;
  }
  
  .todo-input::placeholder {
    color: black;
  }
  
  .todo-button {
    padding: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    background-color: 	#FF8C00;
    color: #fff;
    text-transform: capitalize;
    margin-right: 20px;
  }
    
  .todo-button.edit {
    color: black;
    border-color:blue;
    padding: 10px 20px;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background-color:#808080;
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .clear{
    border-radius: 20px;
    padding: 10px 20px;
    color: red;
    border-color: red;
}
.edit{
    border-radius: 20px;
    padding: 10px 20px;
    color: black;
    margin-left: 10px;
}
.container{
  background-color:#808080;
  width: 90%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
input{
  margin-left: 20px;
  margin-top: 24px;
}
.tasks{
  color:	#FF8C00;
  font-size: 30px;
  text-transform: uppercase;
  float: left;
}
.desc{
  float: left;
  text-transform: capitalize;
}
